@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html {
  line-height: normal;
}

@theme {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e8e8e8;
  --color-neutral-300: #e8e8e8;
  --color-neutral-400: #bbbbbb;
  --color-neutral-500: #a4a4a4;
  --color-neutral-900: #4a4a4a;
  --color-neutral-1000: #333333;
  --color-primary-500: #008aaa;
  --color-primary-600: #00637a;
  --color-primary-700: #003c4a;
  --color-secondary-100: #fbedca;
  --color-secondary-500: #d89d0f;
  --font-font-general: var(--font-general);
  --font-satoshi: var(--font-satoshi);
}
